<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Employees</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p>Add Employees: <a href="/createEmployee">here</a></p>
    <table>
      <tr>
        <th>Employee Name</th>
        <th>GT Number</th>
        <th></th>
      </tr>
      <tr th:each="e : ${employees}">
        <!-- td th:text="${#calendars.format(o.date,'dd/MMM/yyyy')}">13 jan 2011</td-->
        <td th:text="${e.fullName}">Frederic Tomato</td>
        <td th:text="${e.gtNumber}">Frederic Tomato</td>
        <!-- td th:text="${#aggregates.sum(o.orderLines.{purchasePrice * amount})}">23.32</td-->
        <td>
          <form action="#" th:action="@{'/deleteEmployee?id={id}'(id=${e.id})}" th:method="delete" >
			  <button type="submit">Delete</button>
		  </form>
        </td>
      </tr>
    </table>
</body>
</html>